.single-blog {
  width: 80%;
}

.single-blog img {
  height: 350px;
  width: auto;
  max-width: 100%;
}

.single-blog > * {
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .single-blog {
    width: 95%;
    height: auto;
  }
}
