.blog {
  height: 220px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 15px 0;
  display: grid;
  grid-template-columns: 35% 65%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.blog-link {
  display: block;
  margin: 0 100px;
}

.blog .left,
.blog .right {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog .right {
  width: calc(100% - 20px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 20px;
}

.blog .left img {
  height: 200px;
  width: auto;
  max-width: 100%;
}

.blog:hover {
  transform: translateY(-5px);
  border: 1px gray solid;
}

.blog .blog-likes-comments {
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: space-between;
}

.blog-likes-comments i {
  margin-right: 5px;
}

.blog .blog-likes-comments .blog-likes {
  color: rgb(61, 47, 47);
}
.blog .blog-likes-comments .blog-comments {
  color: rgb(44, 126, 151);
}
